body {
  color:#2b2d2f;
}

#nestedGrid {
  display: grid;
  grid-template-columns: 500px;
  grid-template-rows: 600px;
  grid-gap: 25px;
  justify-content: center;
  margin-bottom: 20px;
}

.article {
  width: 50% 50%;
  border: 4px solid #FAB3C3;
  background: #FEECF0;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.header {
  grid-area: hd;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
  margin-bottom: 20px;
  background: #FAB3C3;
  padding: 20px;
}

.footer {
  grid-area: ft;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background: #F88CA5;
  height: 315px;
  padding-left: 20px;
  justify-content: space-around;
  padding-left: 75px;
  padding-right: 75px;
}

.content {
  grid-area: main;
}

.item {
  background: #FAB3C3;
  padding-top: 10px;
  padding-left: 20px;
  border: solid 4px #FAB3C3;
  padding-bottom: 10px;
}

input[type=text] {
  width: 100%;
  font-family: Raleway;
}

input[type=submit] {
  background-color: #FF2391;
  color: #FEECF0;
  padding: 8px 16px;
  border: none;
  font-family: Oswald;
  font-size: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

label{
  font-family: Raleway;
}

.pink-input {
  color: #FF2391;
  padding-top: 0px;
  font-weight: bold;
}

.purple-input {
  color: #A30052;
  font-weight: bold;
}

.date{
  color: #808080;
  font-size: 10px;
  font-style: italic;
}

h1{
  font-family: lobster;
  color: #FEECF0;
  text-shadow: 2px 2px #FF2391;
  font-size: 60px;
}

h2,h3{
  font-family: Oswald;
}

h4,h5,h6,p{
  font-family: Raleway;
}

a{
  color:#F88CA5;
}

img{
  width: 450px;
  height: 350px;
  object-fit: cover;
}


@media(min-width:800px){
  .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "hd hd hd "
      "main main main"
      "ft ft ft";
  }

#nestedGrid{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 600px;
    grid-gap: 25px;
    justify-content: center;
    margin-bottom: 20px;
  }

  .header{
    grid-area: hd;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    margin-bottom: 20px;
  }

  .footer{
    grid-area: ft;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: #F88CA5;
    padding-left: 75px;
    padding-right: 75px;
  }
  input[type=text]{
    width: 200%;
    font-family: Raleway;
  }
}
